/* Tabs */
.tab {
    position: absolute;
    right: -1px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    place-items: center;
    height: 10%;
    width: 10%;
    min-width: 80px;
    max-width: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    font-size: 16px;
    transition: all 1s, transform 300ms;
    z-index: 110;
}

.tab:nth-child(1) { top: 5%; }
.tab:nth-child(2) { top: 25%; }
.tab:nth-child(3) { top: 45%; }
.tab:nth-child(4) { top: 65%; }

.currentTab {
    width: 14%;
    min-width: 100px;
    max-width: 180px;
}

#tab1, #tab2, #tab3, #tab4 {
    background-color: rgb(175, 175, 175);
    border: 1px solid rgb(50, 50, 50);
    color: rgb(0, 0, 0);
}

.tab:not(.currentTab):hover {
    cursor: pointer;
    transform: scale(1.1);
}